<main>
  <div class="title">
    <fa-icon [icon]="faCircleUser"></fa-icon>
    <h1>
      <span>Clément Gournay</span>
      <span class="separator">&nbsp;-&nbsp;</span>
      <span class="subtitle">Fullstack engineer</span>
    </h1>
  </div>
  <div class="grid-cont">
    <div class="grid">
      <div class="panel-cont">
        <panel-identity></panel-identity>
      </div>
      <div class="panel-cont">
        <panel-personal-skills></panel-personal-skills>
      </div>
      <div class="panel-cont">
        <panel-technical-skills></panel-technical-skills>
      </div>
      <div class="panel-cont">
        <panel-schools></panel-schools>
      </div>
      <div class="panel-cont">
        <panel-jobs></panel-jobs>
      </div>
      <div class="panel-cont">
        <panel-hobbies></panel-hobbies>
      </div>
    </div>
  </div>

</main>
